* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
    height: 100vh;
    overflow: hidden;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
    background: darkgray;
}

h2 {
    user-select: none;
    color: red;
    font-weight: 700;
    font-size: 26px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    margin-left: 20px;
    color: red;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-content {
    text-align: center;
    color: aliceblue;
    max-width: 1200px;
}

.main-content h1 {
    font-size: 3rem;
}

.main-content p {
    margin-top: 20px;
    max-width: 700px;
    font-size: 18px;
}

.main-content button {
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 12px 23px;
    border-radius: 8px;
    background: red;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.main-content button:hover {
    background: aliceblue;
    color: red;
}

.pic-content {
    position: relative;
    width: 450px;
    height: 450px;
}

img {
    position: absolute;
    max-width: 420px;
    left: -120px;
    top: -110px;
    border-radius: 16px;
}